# 1. 문자열 메소드 활용하기

In [1]:
# 문자열은 변경 x immutable 글자 수 또는 길이 셀 수 있다
# ex word = 'justin'
# print word[0]
# j

# word[0] = k (x)

SyntaxError: invalid syntax (<ipython-input-1-499bd7d45f61>, line 1)

## 1.1 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 가장 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [8]:
words.capitalize()
words.title()
words.upper()
result = words.upper()
print(result)

HI! EVERYONE, I'M KIM

In [ ]:
반환한다!!! RETURN!!!

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [9]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [11]:
words.lower()
words.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

Iterable한 객체를 해당 문자열의 separator 로 합쳐서 문자열로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [17]:
'!'.join('배고파')

'배!고!파'

In [23]:
# 이렇게도 사용할 수 있겠죠?
words = ['hi', 'hello']
''.join(words) #빈스트링이니까 그냥 붙여서 넣을게

words = '1, 2, 3, 4, 5, 6, 7, 8, 9'
words = words.split(',') #split ' '안에 있는 걸 기준으로 쪼갠 후 리스트로 만들어줌
words

words = ':'.join(words)
words

'1: 2: 3: 4: 5: 6: 7: 8: 9'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [24]:
a = "나를 사랑해"
result = a.replace("나를", "너를")
print(result)

너를 사랑해

In [26]:
'yay!'.replace('a', '_')
'abcdefggg'.replace('ggg', 'ghi')

'abcdefghi'

In [33]:
'wooooowoo'.replace('o', '', 2)
'Hi! Jusstin'.replace('s', '') #s 둘 다 없어짐
'Hi! Jusstin'.replace('s', '', 1) #s 앞에 s만 없어짐

'Hi! Justin'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.(공백제거)

In [34]:
'     oh!\n     '.strip()

'oh!'

In [36]:
'     oh!\n     '.lstrip()

'oh!\n     '

In [37]:
'     oh!\n     '.rstrip()

'     oh!'

In [ ]:
# 아래에 코드를 작성하세요.(단어제거)

In [39]:
'hihihihihihehehihihihi'.strip('hi') #일치하는 h까지만 취급

'ehe'

In [40]:
'hihihihihihehehihihihi'.lstrip('hi')

'ehehihihihi'

In [41]:
'hihihihihihehehihihihi'.rstrip('hi')

'hihihihihihehe'

## 1.2 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [42]:
'apple'.find('l')

3

In [43]:
'apple'.find('f') #없는 단어라서 -1을 반환

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [44]:
'apple'.index('l')

3

In [45]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

- 괄호 안에 특정 값이 있으면 그 값을 구분자로 해서 문자열을 나눠 리스트로 반환합니다.
- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, enter)를 기준으로 문자열을 나눠 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [46]:
'abc def'.split()

['abc', 'def']

In [48]:
'abc, def, ghi'.split(',')

['abc', ' def', ' ghi']

In [49]:
'Hello SSAFY'.split()

['Hello', 'SSAFY']

In [51]:
'a_b_C'.split('_')

['a', 'b', 'C']

In [52]:
words = input().split() #공백을 기준으로 split한 다음 list로 만들어줌
print(words)

hihihi SSAFY hihi
['hihihi', 'SSAFY', 'hihi']

## 1.3 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [53]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [56]:
word = "hihiSeungJinandHyeYoung" 
b = "Hi! Seung Yeon" #느낌표랑 띄어쓰기 있어서
c = "승진"
print(word.isalpha())
print(b.isalpha())
print(c.isalpha())

True
False
True

In [59]:
a = "Hi!, my name is Justin!" #소문자가 있니? 대문자가 없어야 참(True)
a.islower()

b= 'hi, my name is justin'
b.islower()

True

In [60]:
a='Hi! My name is Justin'
print(a.isupper())
b='HI! MY NAME IS JUSTIN'
print(b.isupper())

False
True

In [63]:
a = 'Hello, World'
print(a.istitle())
b = 'Hello, world'
print(b.title())
print(b.istitle())

True
Hello, World
False

# 2. 리스트 메소드 활용하기

## 2.1 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [64]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [65]:
# 값을 추가해봅시다.
cafe.append('caffebene')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [85]:
# 어렵게 넣어보도록 해봅시다.
cafe[len(cafe):] = ['ediya'] #마지막 요소 그래서 빈 리스트 나와
print(cafe[len(cafe):])
print(cafe)

[]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya']

### `.extend(iterable)`

- 리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.
    - `iterable` 은 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기 속합니다. for문을 돌렸을 때 하나씩 튀어나오는 친구들!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [86]:
cafe.extend(['droptop', '빽다방'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [87]:
cafe += ['mccafe', 'burgerking']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [92]:
# .append vs .extend


#.append
cafe.append(['coffenie'])
print(cafe)

#.extend
cafe.extend(['coffeingurunaru'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], ['coffenie'], 'coffeingurunaru', 'coffenie', 'coffeingurunaru', ['coffenie']]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], ['coffenie'], 'coffeingurunaru', 'coffenie', 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [ ]:
L = [1, 2, 3]

L = L + [4] #새로운 리스트를 만들고 크기 연장 후 4를 추가

L.append(4) #원래 있는 리스트에 4라는 요소만 들어감

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [93]:
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], ['coffenie'], 'coffeingurunaru', 'coffenie', 'coffeingurunaru', ['coffenie'], 'coffeingurunaru']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [95]:
cafe.insert(len(cafe), 'bye') # -1이라고 하면 안된다.
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], ['coffenie'], 'coffeingurunaru', 'coffenie', 'coffeingurunaru', ['coffenie'], 'bye', 'coffeingurunaru', 'bye']

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막 붙습니다!

In [97]:
cafe.insert(len(cafe)+5, '!') #가장 뒤에서 +5 그러니까 걍 맨 마지막에 추가됨
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], ['coffenie'], 'coffeingurunaru', 'coffenie', 'coffeingurunaru', ['coffenie'], 'bye', 'coffeingurunaru', 'bye', '!']

In [99]:
samples = [1, 2, 3, 4, 5] #len으로는 5

samples.insert(5, 7)
print(samples)

[1, 2, 3, 4, 5, 7]

In [100]:
samples = [1, 2, 3, 4, 5] #len으로는 5

samples.insert(4, 6)
print(samples)

[1, 2, 3, 4, 6, 5]

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [101]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [102]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [104]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [105]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [106]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [109]:
print(numbers.pop(0)) #삭제되는 값이 뿅하고 튀어나와
print(numbers)
print(numbers.pop())

3
[4, 5, 6]
6

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [110]:
numbers = [1, 2, 3]
delete_value = numbers.pop()
print(f'{delete_value}(이)가 삭제되어 {numbers}가 되었습니다.')

3(이)가 삭제되어 [1, 2]가 되었습니다.

## 2.2 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [111]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [112]:
numbers.index(3)

2

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

In [113]:
numbers.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [114]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [115]:
numbers.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [116]:
numbers = [1, 2, 1, 3, 4]
target_number = 1

for i in range(numbers.count(target_number)): # 2!!! 1이 몇 개 있냐!
    numbers.remove(target_number) #돌 때마다 1을 지워!

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [118]:
target_number in numbers

False

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다. #return 없으면 none 리턴

In [119]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[5, 4, 21, 44, 17, 23]

In [ ]:
# sort를 사용해봅시다.

In [123]:
lotto_result = lotto.sort()
print(lotto_result) #원본을 바꿔서 none
print(lotto)

lotto.sort(reverse=True)
print(lotto)

None
[4, 5, 17, 21, 23, 44]
[44, 23, 21, 17, 5, 4]

In [ ]:
# sorted를 사용해봅시다.

In [122]:
numbers = [2, 5, 4, 1, 7, 5]
result = sorted(numbers)
print(result)
print(numbers)

[1, 2, 4, 5, 5, 7]
[2, 5, 4, 1, 7, 5]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [124]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [125]:
classroom.reverse() #알파벳 순서 그런 거 없음 걍 뒤집은 거
print(classroom)

['Justin', 'David', 'Tom']

In [130]:
# .reverse()
numbers = [1, 2, 3]
result = numbers.reverse() #원본 바꾼다...... 리버스도.... .sort처럼.....
print(numbers)
print(result)

# reversed()
numbers = [1, 2, 3]
result = reversed(numbers)
print(list(result)) #리스트로 만들고 싶으면 리스트()감싸야 해
print(numbers)

[3, 2, 1]
None
[3, 2, 1]
[1, 2, 3]

In [131]:
#slicing실습

words = ['T','h','e','','A','v','e','n','g','e','r','s']
words[0:2]

['T', 'h']

In [132]:
words[0:4]

['T', 'h', 'e', '']

In [133]:
words[0:11]

['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r']

In [135]:
words[-8:-1]

['A', 'v', 'e', 'n', 'g', 'e', 'r']

In [136]:
words[-12:-9]

['T', 'h', 'e']

## 2.3 복사

In [137]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [138]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [139]:
copied_list[0] = 5
print(copied_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [140]:
print(id(copied_list) == id(original_list))
print(copied_list is original_list)

True
True

In [ ]:
# 숫자를 확인해봅시다.

In [141]:
a = 20005 #숫자 값은 바꿀 수 없어......
b = a
b = 30005

print(a)
print(b)

20005
30005

In [ ]:
# 문자를 확인해봅시다.

In [142]:
word_a = 'hihi' #스트링도 immutable 변환할 수 없는 거라 안 바뀌어
word_b = word_a

word_b = 'byebye'

print(word_a)
print(word_b)

hihi
byebye

In [ ]:
# 딕셔너리도 확인해봅시다.

In [144]:
lunch ={'김밥천국': '치즈라면', '김가네':'제육볶음'} # dictionary는 mutable 바뀔 수 있어
print(lunch)
dinner = lunch
dinner['김밥천국'] = '참치김밥'

print(lunch)
print(dinner)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 아래에 작성하세요.

In [ ]:
# 리스트를 복사해봅시다.

In [145]:
a = [1, 2, 3]
b = a
b[0] = 5
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [146]:
a = [1,2,3]
b = a[:] #슬라이싱은 잘라서 새로운 리스트를 만들어!
b[0] = 5
#새로 리스트를 만들기 때문에 a=b가 아니야
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [147]:
a = [1, 2, 3]
b = list(a) #새로운 리스트를 뱉어내기 때문에 a에는 영향을 미치지 않아

b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 이런 방법도 있어요

In [148]:
a = [1, 2, 3]
b = a.copy() #a로부터 카피본을 만들어서 b에 넣어
b[0] = 5
# 어떤 게시판에 내가 쓴 글 나만 지울 수 있어
# 저거 값이 바뀌면 다른 사람이 내 아이디로 로그인 한 것도 아닌데 내거 지울 수 있는 거임

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [149]:
a = [1, 2, [1, 2]] #배열 안에 배열
b = a[:] #슬라이싱해서 새로운 리스트로 b에 할당하겠다
b[2][0] = 3#리스트 안에 있는 1 

print(a)
print(b)

[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [150]:
import copy
a = [1, 2, [1, 2]] #2차원 배열처럼 안에 있는 배열까지 바꿔주고 싶을 때
b = copy.deepcopy(a) 
b[2][0] = 3

print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# 3. List Comprehension

- List를 만들 수 있는 간단한 방법이 있습니다.

- `[표현식 for 요소 in sequence if 조건식 ]`

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [152]:
numbers = range(1, 11)

In [153]:
# 기존의방법

cubic_list = []

for number in numbers:
    cubic_list.append(number**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [156]:
numbers = range(1, 11)

cubic_list = [number**3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [154]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [158]:
even_list = []

for number in numbers:
    if number % 2 == 0 :
        even_list.append(number)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [159]:
even_list = [number for number in numbers if number % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [163]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [164]:
# 반복문을 활용하여 만들어주세요.
pair = []

for girl in girls:
    for boy in boys:
        pair.append((boy, girl))
        
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [165]:
pair = [(boy, girl) for boy in boys for girl in girls] #가독성은 떨어지지만 for문 append보다 빨라
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [166]:
result = []
for x in range(50):
    for y in range(50):
        for z in range(50):
            if x < y < z < 50 and (x**2)+(y**2)==(z**2):
                result.append((x,y,z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [167]:
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [168]:
result = [(x, y, z) for x in range(1,50) for y in range(x, 50) for z in range(y, 50) if x**2 + y**2 == z**2]

In [169]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [170]:
words = 'Life is too short, you need python!'
vowels = 'a', 'e', 'i', 'o', 'u'

result = [char for char in words if char not in  vowels]
#모음 없는 것들 빼서 넣어줘
    
print(result)

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']

In [172]:
words = 'Life is too short, you need python!'
vowels = 'a', 'e', 'i', 'o', 'u'

result = [char for char in words if char not in  vowels]
#모음 없는 것들 빼서 넣어줘
    
 #리스트에서 꺼내서 합쳐줘
print(''.join(result))

Lf s t shrt, y nd pythn!

# 4. 딕셔너리 메소드 활용

## 4.1 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [173]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [174]:
result = my_dict.pop('apple') #그 키에 해당하는 벨류

print(result)
print(my_dict)

사과
{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [175]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [176]:
my_dict.pop('melon', 0)

0

### `.update()`

- 이미 존재하는 key가 있으면 값을 제공하는 key, value로 덮어씁니다. 
- 없다면 새로운 key-value pair를 추가합니다

In [177]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [178]:
my_dict.update(apple='솨과아')
#키워드 인자 형태로 넣는 거
print(my_dict)

{'apple': '솨과아', 'banana': '바나나', 'melon': '멜론'}

In [179]:
my_dict.update(peach='복숭아')
print(my_dict)

{'apple': '솨과아', 'banana': '바나나', 'melon': '멜론', 'peach': '복숭아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [180]:
# []를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [181]:
my_dict['pineapple'] #pineapple이란 키가 없기 때문에 키에러 뜸

KeyError: 'pineapple'

In [ ]:
# get을 사용해봅시다.

In [187]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple', 0)) #none 대신 0을 리턴해

None
사과
0

## 4.2 dictionary comprehension

- dictionary도 comprehension을 활용하여 만들 수 있습니다. 

- `{key:value for 요소 in sequnce if 조건식}`

In [ ]:
# dictionary comprehension

In [188]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [ ]:
x = x*2 - 1
c = (a+b) * (a-b)

### dictionary comprehension 사용해보기

In [2]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [191]:
over = {key: value for key, value in dusts.items() if value > 80}
print(over)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [193]:
translate = {key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}
print(translate)

# A if 조건 else B

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.

In [3]:
translate = {key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(translate)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 5. 세트 메소드 활용

## 5.1 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [4]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [5]:
fruits.add('승진')
print(fruits)

{'승진', '수박', '사과', '바나나'}

In [6]:
#set는 중복으로 츠가되는 일 x
fruits.add('승진')
print(fruits)

{'승진', '수박', '사과', '바나나'}

### `.update(*others)` #튜플로 처리

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다. #for문으로 순회할 수 있는 형태가 iterable

In [7]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [8]:
fruits.update({'토마토', '토마토', '딸기'}, ['포도', '레몬'])

In [9]:
print(fruits)  #set는 순서가 없음

{'토마토', '사과', '수박', '레몬', '포도', '딸기', '바나나'}

In [ ]:
# 만약에 이렇게 한다면..

In [11]:
fruits.update('복숭아', '두리안') #문자열도 iterable형태
print(fruits)

{'복', '수박', '숭', '리', '토마토', '안', '사과', '레몬', '포도', '바나나', '아', '딸기', '두'}

In [ ]:
# 하지만 이건 오류가 납니다!

In [12]:
fruits.update(123)
print(fruits)

TypeError: 'int' object is not iterable

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [13]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [14]:
fruits.remove('사과')
print(fruits)

{'수박', '바나나'}

In [15]:
fruits.remove('애플')
print(fruits)

KeyError: '애플'

### `.discard(elem)`
elem를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [21]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [22]:
fruits.discard('포도')
print(fruits)

{'수박', '사과', '바나나'}

In [23]:
fruits.discard('수박')
print(fruits)

{'사과', '바나나'}

### `.pop()`

임의의 원소를 제거해 반환합니다.

In [28]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}

In [29]:
result = fruits.pop()
print(result)
print(fruits)

아보카도
{'수박', '사과', '바나나'}

##  `.map()`, `.zip()`, `.filter()`

### `.map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [30]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [31]:
chars = map(str, numbers) #numbers가 리스트 형태
print(chars)

<map object at 0x0000018E91E9BCC8>

In [32]:
word = ''.join(chars) #''. 빈스트링 단어 다 걍 연결시켜줘
print(word)
print(type(word))

123
<class 'str'>

In [ ]:
# list comprehension

In [33]:
word = ''.join([str(number) for number in numbers]) #str함수 이용
print(word)

123

In [37]:
chars = ['1', '2', '3'] #위와 달리 string형태
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [39]:
numbers = map(int, chars)
print(list(numbers))
#int('1'), int('2'), int('3')
numbers = list(map(int, chars))
print(numbers)

[1, 2, 3]
[1, 2, 3]

In [ ]:
# list comprehension

In [40]:
numbers = [int(char) for char in chars]
print(numbers)

[1, 2, 3]

In [ ]:
#string 1 string 2 string 3이 들어가는데 이것들을 inter로 바꿔주겠다

* map의 첫번째 인자로 들어가는 function은 사용자 정의 함수도 가능합니다.

In [41]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [42]:
numbers = [1, 2, 3]
list(map(cube, numbers))

[1, 8, 27]

### `.zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [45]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [48]:
print(list(zip(girls, boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# dict comprehension + for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [47]:
students = {girl: boy for girl in girls for boy in boys}
print(students)

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# 번호를 key로 갖고 이름을 value로 가지는 dictionary 만들기
students = {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
for number, name in enumerate(students):
    print('{}번의 이름은 {}입니다'.format(number+1, name))

# Dictionary Comprehension
students_dic = {
    '{}번'.format(number+1) : name for number, name in enumerate(students)
}

print(students_dic)

In [ ]:
# zip을 사용하면 조금 더 편하게 조작할 수 있습니다.

In [49]:
{girl: boy for girl, boy in zip(girls, boys)}
#0번째 인덱스 보이랑 여자 같이 나와

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [1]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

for x, y in zip(girls, boys):
    print(x, y)

jane justin
iu david
mary kim

* 아래와 같이 사용가능하다.

In [50]:
justin = '123'
zzulu = '567'

for digit_a, digit_b in zip(justin, zzulu):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 길이가 가장 짧은 것을 기준으로 구성한다.

In [51]:
justin = '12306969'
zzulu = '567'

for digit_a, digit_b in zip(justin, zzulu):
    print(digit_a, digit_b)

1 5
2 6
3 7

In [52]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [55]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `.filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [56]:
def even(n):
    if n%2 == 0:
        return n

In [ ]:
# filter를 사용해봅시다.

In [58]:
numbers = [1, 2, 3, 4, 5, 2, 2]
list(filter(even, numbers))

[2, 4, 2, 2]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [59]:
result = {number for number in numbers if even(number)}
print(result) #set라서 중복되는 수 제거

{2, 4}